@import url();
*{
    box-sizing: border-box;
}
body{
   font-family: 'Times New Roman', Times, serif;
    margin: 0;
    display: flex;
    /*flex-direction: column; This is a style that dispays the content in a cloumn*/
    justify-content: center;
    height: 100vh;
    align-items: center;
    overflow: hidden;
    
    }
    .bg{
        background:url('Kyoto.jpeg') no-repeat center center/cover;
        position: absolute;
        top: -30px;
        left: -30px;
        width: calc(100vh + 60px);
        height: calc(100vh + 60px);
        z-index: -1;
        filter: blur(0px);
    }
    .loading-section{
        font-size: 50px;
        color: #fff;
    }